.about-project__text {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #fff;
}

@media screen and (max-width: 1279px) {
  .about-project__text {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 767px) {
  .about-project__text {
    margin: 16px 0 0;
    font-size: 11px;
    line-height: 16px;
  }
}
