.popup__text {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .popup__text {
    font-size: 12px;
    line-height: 15px;
  }
}
