.burger-menu__toggle {
  display: none;
  margin: 0;
  padding: 0;
  width: 44px;
  height: 44px;
  background-color: transparent;
  background-image: url(../../../images/burger-menu-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 44px 44px;
  border: none;
}

@media screen and (max-width: 1279px) {
  .burger-menu__toggle {
    display: block;
  }
}
