.header__logo {
  text-decoration: none;
  width: 38px;
  height: 38px;
  background-image: url(../../../images/logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 38px 38px;
}
