.popup__button {
  padding: 184px 0 0;
  display: inline-block;
  text-align: center;
  min-height: 17px;
  background-color: transparent;
  border: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #4285F4;
}

@media screen and (max-width: 767px) {
  .popup__button {
    padding: 284px 0 0;
    font-size: 12px;
    line-height: 15px;
  }
}
