.page__techs {
  padding: 100px 0 100px;
}

@media screen and (max-width: 1279px) {
  .page__techs {
    padding: 90px 50px 90px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 1279px) {
  .page__techs {
    padding: 72px 18px 70px;
    box-sizing: border-box;
  }
}
