.page__movies {
  margin: 118px 0 0;
}

@media screen and (max-width: 1279px) {
  .page__movies {
    margin: 126px 0 0;
    padding: 0 30px;
  }
}

@media screen and (max-width: 767px) {
  .page__movies {
    margin: 90px 0 0;
    padding: 0 10px;
  }
}
