.promo__title {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -1.6px;
  font-weight: 400;
  color: #fff;
  max-width: 100%;
}

@media screen and (max-width: 1279px) {
  .promo__title {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .promo__title {
    font-size: 31px;
    line-height: 39px;
  }
}
