.header__account-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 13px;
}

@media screen and (max-width: 1279px) {
  .header__account-wrapper {
    display: none;
  }
}
