.auth {
  width: 396px;
  height: 80vh;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
}

@media screen and (max-width: 767px) {
  .auth {
    align-items: center;
  }
}

@media screen and (max-width: 500px) {
  .auth {
    box-sizing: border-box;
    width: 100%;
  }
}
