.techs__title {
  margin: 90px 0 0;
  padding: 0;
  text-align: center;
  font-size: 50px;
  line-height: 58px;
  font-weight: 400;
  letter-spacing: -2px;
  color: #fff;
}

@media screen and (max-width: 1279px) {
  .techs__title {
    margin: 80px 0 0;
  }
}

@media screen and (max-width: 767px) {
  .techs__title {
    margin: 59px 0 0;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -1.2px;
  }
}
