.footer__text {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #8B8B8B;
  width: 100%;
  border-bottom: 1px solid #424242;
}

@media screen and (max-width: 767px) {
  .footer__text {
    font-size: 12px;
    line-height: 15px;
  }
}
