.auth__link {
  margin: 16px 0 0;
  font-weight: 400;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .auth__link {
    font-size: 12px;
    line-height: 15px;
  }
}
