.profile__button {
  display: inline-block;
  text-align: center;
  min-height: 16px;
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #fff;
}

.profile__button:first-of-type {
  margin: 0 0 16px;
}
