.profile__button {
  margin: 0 0 16px;
  height: 16px;
  width: 100%;
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #fff;
}

.profile__button:disabled {
  opacity: 0.3;
}
