.promo__title-mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .promo__title-mobile {
    display: inline;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 31px;
    line-height: 39px;
    letter-spacing: -1.6px;
    font-weight: 400;
    color: #fff;
  }
}
