.footer__caption {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .footer__caption {
    text-align: center;
    font-size: 12px;
    line-height: 15px;
  }
}
