.filter-checkbox {
  margin: 32px 0 0;
  width: 167px;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
}

@media screen and (max-width: 767px) {
  .filter-checkbox {
    margin: 41px auto 0;
    width: 148px;
    flex-direction: row-reverse;
    gap: 11px;
  }
}
