.about-project__period-wrapper {
  margin: 110px 0 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 0;
  row-gap: 14px;
  justify-items: center;
  align-items: center;
}

@media screen and (max-width: 1279px) {
  .about-project__period-wrapper {
    margin: 93px 0 0;
  }
}

@media screen and (max-width: 767px) {
  .about-project__period-wrapper {
    grid-template-columns: 100px 1fr;
    margin: 60px 0 0;
    row-gap: 8px;
  }
}
