.movie__duration {
  margin: 0;
  padding: 0;
  text-align: right;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #8B8B8B;
  white-space: nowrap;
}

@media screen and (max-width: 767px) {
  .movie__duration {
    font-size: 10px;
  }
}
