.about-me__job {
  margin: 18px 0 0;
  padding: 0;
  text-align: left;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  color: #fff;
  max-width: 100%;
}

@media screen and (max-width: 1279px) {
  .about-me__job {
    margin: 16px 0 0;
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 767px) {
  .about-me__job {
    margin: 20px 0 0;
    font-size: 11px;
    line-height: 16px;
  }
}
