.page__header {
  padding: 18px 0 0;
  box-sizing: border-box;
  flex: 0 0 auto;
}

@media screen and (max-width: 1279px) {
  .page__header {
    padding: 18px 30px 0;
  }
}

@media screen and (max-width: 767px) {
  .page__header {
    padding: 18px 14px 0;
  }
}
