.auth__error {
  margin: 5px 0 0 0;
  box-sizing: border-box;
  height: 12px;
  text-align: left;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  color: #EE3465;
  display: none;
  position: absolute;
}
