.header__button {
  width: 76px;
  height: 32px;
  background-color: #3DDC84;
  border-style: none;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: #000;
}

@media screen and (max-width: 767px) {
  .header__button {
    width: 54px;
    height: 28px;
    font-size: 10px;
  }
}
