.popup {
  visibility: hidden;
  opacity: 0;
  transition: visibility .5s, opacity .5s ease-out;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #202020;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
